<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="sign">
        <div class="container">
          <h1><a href="/">BLOG</a></h1>
          <div class="panel">
            <h2>新規登録</h2>
            <form action="/api/signup" method="post">
              <p>メールアドレス</p>
              <input type="text" name="email">  
              <p>ユーザー名</p>
              <input type="text" name="name">
              <p>パスワード</p>
              <input type="password" name="password">
              <input type="submit" value="登録する">
              <a href="/">一覧にもどる</a>
            </form>
          </div>
        </div>
      </div>      
</body>
</html>